# Ignore python virtual environments
.venv
venv
env

# Ignore pycache and compiled files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore local configuration files
.env

# Ignore testing caches
.pytest_cache
.coverage
htmlcov
